/* --------------------
	Colors 
-------------------- */

$blue: #2f4671;
$purple: #52406e;
$yellow: #d3a154;
$pink: #be4680;
$green: #017187;

$main-color: $blue;
$link-color: $pink;
$link-hover-color: $yellow;

$black: #222;
$dark-gray: #555;
$gray: #ccc;
$light-gray: #eee;
$white: #fff;

$body-background-image: url('img/full-bloom/full-bloom.png');
$body-background-color: $green;
$body-background-blend-mode: hard-light;
$body-color: $black;

/* --------------------
	Fonts 
-------------------- */

$main-font: rubik, sans-serif;
$serif-font: rosella-deco, serif;
$serif-font-solid: rosella-solid, serif;


/* --------------------
	Borders 
-------------------- */

$border-thick: 6px double $yellow;
$border-thin: 2px solid $yellow;
$border-link: 2px solid $purple;


/* --------------------
	Spacing 
-------------------- */

$font-size: 100%;

$line-height: 1.4;

$text-line-height: 1.4;

$padding: .5rem;

$content-width: 55rem;

$border-radius: 2rem;


/* --------------------
	Forms 
-------------------- */

$input-shadow: inset 0 1px 2px rgba($black, 0.1);

$input-shadow-focus: 0 0 5px $gray;


/* --------------------
	Transitions 
-------------------- */
				
$transition: 250ms ease-in-out all;