.woocommerce .products ul,
.woocommerce ul.products {
	margin: 0 ($padding * -1) $padding;
	
	display: flex;
	flex-flow: row wrap;
	
	&:before {
		display: none !important;
	}
	
	li,
	li.product {
		border: $border-link;
		
		float: none !important;
		margin: $padding !important;
		width: calc((100% / 3) - 1rem);
		
		align-self: flex-start;
		
		transition: 250ms ease-in-out all;
		
		&:hover {
			border-color: $link-hover-color;
		}
		
		a:not(.button) {
			display: flex;
			flex-flow: column;
			
			h2.woocommerce-loop-product__title,
			h2.woocommerce-loop-category__title {
				font-family: $main-font;
				font-weight: 600;
				text-align: center;
				
				padding: $padding;
				width: 100%;
				
				mark {
					background: $pink !important;
					border-radius: 100%;
					color: $white;
					font-size: .75rem;
					
					height: 2rem;
					width: 2rem;
					
					align-items: center;
					display: inline-flex;
					justify-content: center;
				}
			}
			
			img {
				margin-bottom: 0;
				padding: $padding;
				width: 100%;
			}
			
			span.price {
				font-family: $main-font;
				font-weight: 600;
				text-align: center;
				
				display: block;
				margin-bottom: 0;
				padding: $padding;
				width: 100%;
			}
		}
		
		a.button {
			background: $pink;
			color: $white;
			font-size: 16px;
			line-height: 1.4;
			text-align: center;
			text-transform: uppercase;
			
			margin: $padding;
			width: 100%;
			
			display: block;
		}
	}
	
@media only screen and (min-width: 480px) and (max-width: 899px) {
		li,
		li.product {
			width: calc(50% - 1rem) !important;
		}
	}
	
	@media only screen and (max-width: 479px) {
		li,
		li.product {
			width: calc(100% - 1rem) !important;
		}
	}
}

.searchform {
	width: 100%;
	
	>div {
		width: 100%;
		display: flex;
	}
		
	#searchsubmit {
		font-weight: 600;
		text-transform: uppercase;
		
		padding: $padding ($padding * 3);
	}
}

.woocommerce-breadcrumb {
	@extend .site-navigation;
	
	margin: 0 0 $padding !important;
	
	ul {
		align-items: center;
	}
	
	li {
		flex: 0 0 auto !important;
		
		&:last-of-type {
			background: $white;
		}
		
		a {
			color: $white !important;
			font-size: 16px;
			font-weight: 400;
			text-transform: none;
			
			padding: ($padding / 2) $padding;
		}
	}
}

.woocommerce,
.woocommerce-page {
	.product {
		display: flex;
		flex-flow: row wrap;
		
		.images {
			float: none !important;
			margin-right: .5rem;
			width: calc(40% - .5rem) !important;
		}
		
		.summary {
			float: none !important;
			width: 60% !important;
		}
		
		.product_title {
			font-family: $main-font;
			font-size: 1.5rem;
			font-weight: 600;
		}
		
		.cart {
			margin-bottom: $padding;
			
			display: flex;
			justify-content: center;
			
			.quantity {
				margin: 0 !important;
				
				input {
					margin: 0 !important;
				}
			}
			
			button {
				background: $pink;
				color: $white;
				font-size: 16px;
				line-height: 1.4;
				text-align: center;
				text-transform: uppercase;
				
				margin: 0;
				
				display: block;
			}
		}
	}
}

.product_meta {
	> span {
		display: block;
	}
}
