.woocommerce .products ul,
.woocommerce ul.products {
	margin: 0 ($padding * -1) $padding;
	
	display: flex;
	flex-flow: row wrap;
	
	&:before {
		display: none !important;
	}
	
	li,
	li.product {
		border: $border-link;
		
		float: none;
		margin: $padding;
		width: calc(50% - 1rem);
		
		align-self: flex-start;
		
		&:hover {
			border-color: $link-hover-color;
		}
		
		a:not(.button) {
			display: flex;
			flex-flow: row wrap;
			
			h2.woocommerce-loop-product__title,
			h2.woocommerce-loop-category__title {
				font-family: $main-font;
				font-weight: 600;
				
				padding: $padding;
				width: calc(100% - 180px);
				
				order: 0;
			}
			
			img {
				margin-bottom: 0;
				padding: $padding;
				width: 180px;
				
				align-self: flex-start;
				order: 1;
			}
			
			span.price {
				font-family: $main-font;
				font-weight: 600;
				
				display: block;
				margin-bottom: 0;
				padding: $padding;
				width: 100%;
				
				order: 2;
			}
		}
		
		a.button {
			background: $pink;
			color: $white;
			text-align: center;
			text-transform: uppercase;
			
			margin: $padding;
			
			display: block;
		}
	}
	
	@media only screen and (max-width: 767px) {
		li,
		li.product {
			width: calc(100% - 1rem);
		}
	}
}

.searchform {
	width: 100%;
	
	>div {
		width: 100%;
		display: flex;
	}
		
	#searchsubmit {
		font-weight: 600;
		text-transform: uppercase;
		
		padding: $padding ($padding * 3);
	}
}

.woocommerce-breadcrumb {
	@extend .site-navigation;
	
	margin: 0 ($padding * -1) $padding;
	
	ul {
		align-items: center;
	}
	
	li {
		flex: 0 0 auto !important;
		
		&:last-of-type {
			background: $white;
		}
		
		a {
			color: $white !important;
			font-size: 16px;
			font-weight: 400;
			text-transform: none;
			
			padding: ($padding / 2) $padding;
		}
	}
}